/* This file will hold styles that are loaded using the same media query as the normal grid. */

.page {
  background: url("../images/background_wide.png") no-repeat scroll center top rgb(243, 243, 243)
}

/* Menu */
.menu-name-main-menu.menu-level-1 .menu ul {
  list-style: none;
  margin: auto;
}

.menu-name-main-menu.menu-level-1 .menu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.menu-name-main-menu.menu-level-1 .menu a {
  color: #626262;
  display: block;
  padding: 2.5em 1.8em;
  text-decoration: none;
}

/* Highlight rent the cabin */
.menu-name-main-menu.menu-level-1 .menu li.menu-mlid-757 a,
.menu-name-main-menu.menu-level-1 .menu li.menu-mlid-782 a {
  font-weight: bold;
}

.menu-name-main-menu.menu-level-1 a.active,
.menu-name-main-menu.menu-level-1 a.active-trail {
  background: #000 url('../images/background_footer.png') repeat right top;
  color: #FFF;
}

.menu-name-main-menu.menu-level-1 a:hover {
  text-decoration: underline;
}

/* Side menu */
.menu-level-2 .menu li {
  list-style: disc inside none;
}

/* Only for the front page content */
.front .region-content .content {
  margin-top: 2em;
  margin-bottom: 1em;
}
