.flexslider {
  margin-bottom: 20px;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  list-style: none;
}

.flexslider .slides img {
  max-width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}


/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}


/* FlexSlider Default Theme
*********************************/
.flexslider {
  background: #fff;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; zoom: 1;
}

.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Caption style */
.flex-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom: 1;
}

.flex-caption a:link,
.flex-caption a:visited,
.flex-caption a:hover {
  color: #FFF;
  text-decoration: none;
}

.flex-caption {
  width: 98%;
  padding: 1%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

.flex-caption h2 {
  font-size: 160%;
  padding-left: 14px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.flex-caption p {
  padding-left: 14px;
  margin-bottom: 1em;
}

/* Direction Nav */
.flex-direction-nav { 
  height: 0;
}

.flex-direction-nav li { 
  list-style: none;
}

.flex-direction-nav li a {
  width: 52px;
  height: 52px;
  margin: -13px 0 0;
  display: block;
  background: url(../images/slider/bg_direction_nav.png) no-repeat;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -999em;
}

.flex-direction-nav li .next {background-position: -52px 0; right: -16px;}
.flex-direction-nav li .prev {left: -16px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}