body {
  font-family: 'CartoGothicStdBook', 'arial', sans-serif;
  font-size: 12px;
}

/* Header zone */
.logo-img {
  padding-top: 1em;
}

/* Slider*/
.zone-preface-wrapper ul {
  margin-bottom: 0px;
}

/* Content zone */
.section-content {
  background: #FFF url('../images/background.png') repeat right top;
  color: #000;
}


/* Footer */
.section-footer {
  background: #000 url('../images/background_footer.png') repeat right top;
  color: #BDBDBD;
}

.zone-footer .region .block-inner {
  padding: 1.4em;
}

/* Links */
a:link,
a:visited,
a:hover {
  color: #0090FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}