/* This file will hold the main styles for your website. */

/* Header zone */
.logo-img {
  padding-top: 1em;
}

/* Content zone */
.section-content {
  background: #FFF url('../images/background.png') repeat right top;
  color: #000;
}


/* Footer */
.section-footer {
  background: #000 url('../images/background_footer.png') repeat right top;
  color: #FFF;
}

/* Links */
a:link,
a:visited,
a:hover {
  color: #0090FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}